*{
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  box-sizing: border-box;
  font-family: sans-serif;
}

body
{
  background-color: #770303;
  padding: 20px;
}

.nav-enlaces{
  text-decoration:none; 
  font-size:14px;
}

nav li{
  display:inline-block;
  width:10%;
  padding:5px 10px;
  background-color:#a04f4f;
  border:1px solid #000;
  text-align:center;  
}

nav li:hover{
  background-color:#770303;  
  }

nav{
  text-align: center;
}

header, section, aside, footer
{
  text-align: center;
  background-color: #eeb0b0;
  border-radius: 5px;
  padding: 20px;
}

header,
nav,
footer
{
  width: 100%;
  padding: 10px;
}

header
{
  margin-bottom: 20px;
}

h1
{
  margin: 0;
}

section
{
  float: right;
  width: 70%;
  margin: 20px;
}

section header,
section article,
section footer
{
  width: 100%;
  background-color: #eeb0b0;
  border-radius: 5px;
  margin: 0;
  padding: 20px;
}

section article
{
  margin: 20px 0;
}

aside
{
  float: left;
  width: 20%;
  margin: 20px;
}


footer
{
  clear: both;
}