*{
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  box-sizing: border-box;
  font-family: sans-serif;
}

body
{
  background-color: #770303;
  padding: 20px;
}

header, nav, section, aside, footer
{
  text-align: center;
  background-color: #eeb0b0;
  border-radius: 5px;
  padding: 20px;
}

header,
nav,
footer
{
  width: 100%;
  padding: 10px;
}

header
{
  margin-bottom: 20px;
}

h1
{
  margin: 0;
}



nav > li {
    float: left;
}


section
{
  float: right;
  width: 70%;
  margin: 20px;
}

section header,
section article,
section footer
{
  width: 100%;
  background-color: #eeb0b0;
  border-radius: 5px;
  margin: 0;
  padding: 20px;
}

section article
{
  margin: 20px 0;
}

nav
{
  float: left;
}

aside
{
  float: left;
  width: 20%;
  margin: 20px;
}

nav ul
{
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

nav li
{
  display: inline-block;
  margin: 0 0 0 20px;
  width: 100px;
}

nav li:first-child
{
  margin-left: 0;
}

footer
{
  clear: both;
}