{% extends 'base.html' %}

{% block titulo %}Personas{% endblock titulo %}
{% block tema %}
   Agregar Persona                           
{% endblock tema %}

{% block contenido %}
     <form action="{% url 'agregar_persona' %}" method="post">
         {% csrf_token %}
         {{form}}
        <button class="btn btn-primary"  type="submit">Enviar</button>
        <button class="btn btn-secondary" type="reset">Resetear</button>
     </form>                            
{% endblock contenido %}