{% extends 'base.html' %}

{% block titulo %}Inicio{% endblock titulo %}
{% block tema %}
    Listado de Libros                            
{% endblock tema %}

{% block contenido %}
<div class="table-responsive">
<table class="table table-striped table-sm">
    <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Editorial</th>
        <th>Autor</th>
        <th>Género</th>
        <th>Páginas</th>
        <th>Precio</th>
        <th>Acción</th>
    </tr>
   
   {% for libro in libros  %}
       <tr>
           <td>{{libro.id}}</td>
           <td>{{libro.titulo}}</td>
           <td>{{libro.editorial}}</td>
           <td>{{libro.autor}}</td>
           <td>{{libro.genero}}</td>
           <td>{{libro.pag}}</td>
           <td>${{libro.precio}}</td>
           <td>
               <a href="{% url 'editar_libro' libro.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'eliminar_libro' libro.id %}" class="btn btn-danger">Eliminar</a>   
        </td>
       </tr>
   {% endfor %}
       
</table> 
</div>                           
{% endblock contenido %}