*{
  color: #fff;
  font-size: 1em;
  font-weight: 100;
  box-sizing: border-box;
  font-family: sans-serif;
}

body
{  
  padding: 0.313em;
  background-color: #7C7C7C;
}

.nav-enlaces{
  text-decoration:none; 
  font-size:0.875em;
}

nav li{
  display:inline-block;
  width:10%;
  padding:0.313em 0.625em;
  background-color:#D64933;
  text-align:center;  
}

nav li:hover{
  background-color:#92DCE5;  
  }

nav{
  text-align: right;
}

nav ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  padding:0;
}

nav ul ul li {
  float:none;
  width: 9.375em
}

nav ul ul a {
  line-height:120%;
  padding:0.625em 0.938em;
}

nav ul li:hover > ul {
  display:block;
}

header, section, aside, footer
{
  text-align: center;
  
  border-radius: 0.313em;
  padding: 1.25em;
}

header,
nav,
footer
{
  width: 100%;
  padding: 0.625em;
}

.cabecera
{
  margin-bottom: 1.25em;
  height: 5em;   /* add*/
  background-color: #000;
}
/* Se agrega stilo titulo*/
.logo{
  float: left;
	padding: 0.938em 0 0 1.25em;
	text-decoration: none;
}
.logo .titulo {
  display: block;
  font-weight: 700;
  font-size: 1.2em;
}
.logo .eslogan{
    display: block;		
		font-size: 0.8em;		
}
h1
{
  margin: 0;
}

section
{
  float: right;
  width: 70%;
  margin: 0.313em;
  background-color: #b3a8a8;
}

section header,
section article,
section footer
{
  width: 100%;
  margin: 0;
  padding: 20px;
}

section article
{
  margin: 20px 0;
}

aside
{
  float: left;
  width: 20%;
  margin: 0.313em;
  background-color: #b3a8a8
  ;
}


footer
{
  clear: both;
}

table{
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}
th, td{
  padding: 0.5em;
}

tr:hover {background-color: #92DCE5;
          color: white;}

th {
  background-color: #D64933;
  color: white;
}
td{
  color: black;
}

.tcontenido{
  font-weight: bold;
}